body, html{
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}


.landing_page{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1120&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
  
    
}

.landing_text{
    text-align: center;
    color: white;
    transition: all 0.5s ease-in-out;
}

.landing_button{
    padding: 1rem 1.5rem;
    background-color: #f76237;
    border-radius: 2rem;
    border: none;
    color: white;
    font-size: 0.9rem;
    transition: all 0.5s ease-in-out;
}

.landing_button:hover{
    transform: scale(1.05);
    background-color: #fb5224;
    border: 3px splid #fb5224;
}

.landing_title{
    margin-bottom: 9rem;
}


.line::before{
    content: '';
    display: block;
    max-width: 4rem;
    border: 1px solid #f76237;
    margin: auto;
    margin-bottom: 1rem;
}